[user]
    name =
	user =
    email =
[core]
	editor = vim
	whitespace = fix,-indent-with-no-tab,trailing-space,cr-at-eol
[init]
	defaultBranch = main
[web]
	browser = google-chrome
[color]
	ui = auto
	diff = always
	status = always
	branch = always
	interactive = always
	grep = always
	decorate = always
	showBranch = always
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[color "branch"]
    current = green bold
    local = yellow bold
    remote = magenta bold
[alias]
    lg = log --graph --pretty=format:'%C(yellow)%h%Creset - %C(green)%an%Creset - %C(cyan)%ad%Creset : %s'